<div class="film-list">
  <h1 align="center">Film List</h1>

  <div class="category-buttons">
    <button  *ngFor="let category of categories" class="category-button" (click)="setCurrentCategory(category)">
      {{ category }}
    </button>
  </div>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Year of Production</th>
      <th>Cost</th>
      <th>Category</th>
      <th>Add</th>
    </tr>
    </thead>

      @for (film of sortFilms(); track film.id){
        <tbody>
        <td><a routerLink="/detail/{{film.id}}">{{film.id}}</a></td>
        <td>{{film.title}}</td>
        <td>{{film.yearOfProduction}}</td>
        <td>{{film.cost}}</td>
        <td>{{film.category}}</td>
        <td><button class="button-click" (click)="addFilm(film.id)">Add to cart</button></td>
        </tbody>
      }

  </table>
</div>

